---
- name: Build and Deploy Flask App
  hosts: localhost
  tasks:

    - name: Check if Application Repo exists
      stat:
        path: /home/ubuntu/api-project
      register: repo_exists

    - name: Clone or Update Application Repo
      git:
        repo: https://github.com/eamanze/api-project.git
        dest: /home/ubuntu/api-project
      when: not repo_exists.stat.exists

    - name: Updating Application Repo
      shell:
        cmd: git pull
        chdir: /home/ubuntu/api-project
      when: repo_exists.stat.exists

    - name: Build Docker image
      command: docker build -t eamanze/flask-app:latest .
      args:
        chdir: /home/ubuntu/api-project/flask_api

    - name: Login into Docker Hub
      command: docker login -u eamanze -p &KX#+k!M2jqhGFv

    - name: Push Docker image
      command: docker push eamanze/flask-app:latest

    - name: Create namespace
      k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: my-dev

    - name: Deploy Flask App to Kubernetes
      k8s:
        state: present
        definition: 
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: flaskapp
            namespace: my-dev
            labels:
              app: flaskapp
          spec:
            replicas: 3
            selector:
              matchLabels:
                app: flaskapp
            template:
              metadata:
                labels:
                  app: flaskapp
              spec:
                containers:
                  - name: flask-app
                    image: eamanze/flask-app:latest
                    ports:
                      - containerPort: 5000

    - name: Create Service to expose Flask App
      k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Service
          metadata:
            name: flaskapp
            namespace: my-dev
          spec:
            type: NodePort
            selector:
              app: flaskapp
            ports:
              - protocol: TCP
                port: 80
                targetPort: 5000
                nodePort: 30001